#mobile-menu {
    position: fixed;
    background: #12061d;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#mobile-menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

#mobile-menu li {
    width: 90%;
    list-style: none;
    padding-top: 1rem;
    font-size: 1.6rem;
    border-bottom: 2px solid hsla(0,0%,51%,.25);
    text-align: center;
}

#mobile-menu li:hover {
    background: #241c2b;
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 0; /* Start from the left */
    transition: top 0.5s ease;
}

.mobile-menu.hidden {
    top: -100%;
}