.about-feature-card {
    background-color:  hsla(0,0%,100%,.05);
    border: 1px solid hsla(0,0%,51%,.25);
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    width: 90%;
}

.feature-icon {
    background-image: linear-gradient(0deg,#732bd8 30%,#c620e3 70%);
    border-radius: 0.7rem;
    font-size: 2rem;
    min-width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-feature-card h4{
    line-height: 1;
    margin-bottom: 10px;
}

.about-feature-card p{
    color: #d2d3de;
}

@media screen and (max-width: 500px) {

    .about-feature-card {
        margin: 1rem 0;
        max-width: 95vw;
    }

}