#navbar {
    background-color: #0a0215;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    border-bottom: 1px solid hsla(0,0%,51%,.25);
    z-index: 3;
}

#navlinks {
    display: flex;
    align-items: center;
    list-style: none;
}

#navlinks a {
    padding: 0 2rem;
    color: inherit;
    font-size: 1rem;
    transition: 300ms;
}

.social-navlinks a {
    padding: 0 1rem;
    font-size: 1.5rem;
    transition: 300ms;
}


#navlinks a:hover, .social-navlinks a:hover {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #4c2ef5 0%, #ff00ea);
}

#mobile-icon {
    display: none;
    font-size: 1.5rem;
}

/* MOBILE SCREENS */
@media screen and (max-width: 1000px) {

    #mobile-icon {
        display: initial;
    }
}
