
#market-section{
    background: linear-gradient(rgba(0,0,0) 0%, rgba(15,5,29,1) 10%);

}

#market-header {
    text-align: center;
    padding: 1rem;
}

#market-header p {
    color: #ccc;
}

.error-msg {
    text-align: center;
    width: 600px;
    max-width: 90vw;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid rgb(243, 68, 68);
    border-radius: 10px;
    color: rgb(243, 68, 68);
}

.loading {
    text-align: center;
    margin: 0 auto;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {transform: scale(1)}
    50% {transform: scale(1.05)}
    100% {transform: scale(1)}
}